{% extends 'base.html' %}
{% block title %}
<div>
    <h1>List of Accounts</h1>
</div>
{% endblock %}

{% block content %}
<div>
    <a href="{% url 'create_account' %}">Create</a>
</div>
<table width="100%" border="2px solid #000">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
            <th>Photo</th>
            <th>Add to</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for account in accounts %}
        <tr id="account-{{account.id}}">
            <td>{{ account.id }}</td>
            <td>{{ account.username }}</td>
            <td>{{ account.email }}</td>
            <td>{{ account.password }}</td>
            <td>{{ account.photo }}</td>
            <td>{{ account.add_to}}</td>
            <td>
                <a href="{% url 'account_details' account.id %}">Details</a>
                <a href="{% url 'update_account' account.id %}">Update</a>
                {%comment%}
                <a href="{% url 'delete_account' account.id %}">Delete</a>
                {% endcomment %}
                <button class="delete-btn-account" data-id="{{ account.id }}">
                    Delete
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
