{% extends 'account/base_track.html' %}

{% block title %}
    Track Details
{% endblock %}

{% block content %}
    <div>
        <h1>Track Details</h1>
    </div>

    <table width="100%" border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ track.id }}</td>
                <td>{{ track.name }}</td>
                <td>{{ track.description }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        <a href="{% url 'update_track' track.id %}">Update</a>
        <a href="{% url 'delete_track' track.id %}">Delete</a>
    </div>
{% endblock %}
