{% extends 'base.html' %}
{% block title %}
<div><h1>List of Tracks</h1></div>
{% endblock %}

{% block content %}
<div>
    <a href="{% url 'create_track' %}">Create</a>
</div>
<table width="100%" border="1px solid #000">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for track in tracks %}
        <tr>
            <td>{{ track.id }}</td>
            <td>{{ track.name }}</td>
            <td>{{ track.description }}</td>
            <td>{{track.photo}}</td>
            <td>
                <a href="{% url 'track_details' track.id %}">Details</a>
                <a href="{% url 'update_track' track.id %}">Update</a>
                <a href="{% url 'delete_track' track.id %}">Delete</a>
                <button class="delete-btn-track" data-id="{{ track.id }}">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
