<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block pagetitle %} {% endblock %}</title>
    </head>
    <body>
        <header>
            <div class="container">
              <ul>
                <li>
                  <a href="{% url 'account_list' %}">List of Accounts</a>
                </li>
                <li>
                  <a href="{% url 'track_list' %}">List of Tracks</a>
                </li>
                <li>
                  <a href="{% url 'trainee_list' %}">List of Trainees</a>
                </li>
              </ul>
            </div>
        </header>


        {% block title %} {% endblock %} {% block content %} {% endblock %}
    </body>
</html>
