{% load static %} {%load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet"/>
        <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}" />
        <title>{% block pagetitle %} {% endblock %}</title>
    </head>
    <body>
        {% comment %}
        <div>
            <h1>Safa A. Suliman</h1>
        </div>
        {% endcomment %}
        <div>
            <div class="container py-5">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %} {{ form|crispy }}
                    <div>
                        <input type="submit" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
        {% comment %} script {% endcomment %}
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>